<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Annual Reunion in 2014</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=238" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=238#comment-157</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Fri, 20 Nov 2015 22:46:33 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-157</guid>
		<description><![CDATA[I think you can find some of your classmates in Jenshow on the page of Classmates Biographies. 

Would you like to introduce something about your parents? Was your father a Canadian missionary in the West China Mission?]]></description>
		<content:encoded><![CDATA[<p>I think you can find some of your classmates in Jenshow on the page of Classmates Biographies. </p>
<p>Would you like to introduce something about your parents? Was your father a Canadian missionary in the West China Mission?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Richard Terry</title>
		<link>http://cschengdu.ca/?page_id=238#comment-156</link>
		<dc:creator><![CDATA[Richard Terry]]></dc:creator>
		<pubDate>Fri, 20 Nov 2015 17:09:14 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-156</guid>
		<description><![CDATA[I attended CS in Jenshow, school years 1940-41, 41-42,42-43.Also attended my sister Becky.  I would love any news you may have regarding other students at that time--The Phelps kids, The Mathesons(originally from Winnipeg) the Urquarts,  Effie and Jimmy Lim, Ming Chen, Franklin Chang, James Wong, Donald Jones, Frank Price,and any others?  
  My mother was a house mother in Jenshow, and taught piano and music. My sister Becky is alive(and alert) in Blaine , Washington and should any of you like to call her(which she would love) her number  there is 
360 223 4867.(3 hour time difference).  I&#039;m always home and my number in Florida is 321 784 4645. and I too would love to hear from you.]]></description>
		<content:encoded><![CDATA[<p>I attended CS in Jenshow, school years 1940-41, 41-42,42-43.Also attended my sister Becky.  I would love any news you may have regarding other students at that time&#8211;The Phelps kids, The Mathesons(originally from Winnipeg) the Urquarts,  Effie and Jimmy Lim, Ming Chen, Franklin Chang, James Wong, Donald Jones, Frank Price,and any others?<br />
  My mother was a house mother in Jenshow, and taught piano and music. My sister Becky is alive(and alert) in Blaine , Washington and should any of you like to call her(which she would love) her number  there is<br />
360 223 4867.(3 hour time difference).  I&#8217;m always home and my number in Florida is 321 784 4645. and I too would love to hear from you.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cathy Crawford Green</title>
		<link>http://cschengdu.ca/?page_id=238#comment-150</link>
		<dc:creator><![CDATA[Cathy Crawford Green]]></dc:creator>
		<pubDate>Tue, 11 Aug 2015 03:57:37 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-150</guid>
		<description><![CDATA[I plan to attend the luncheon along with my brother Bud (Lawrence) Crawford.   His son, Stanley Crawford, has been living in Chengdu this past year and Bud was just there for Stan&#039;s wedding.   Bud&#039;s and my great grandfather was Dr. V. C. Hart who helped establish the Canadian Methodist Mission in Chengdu.  Prior to that he established numerous missions along the Yangtze River for the New York Methodist Board of Missions from 1866 on.]]></description>
		<content:encoded><![CDATA[<p>I plan to attend the luncheon along with my brother Bud (Lawrence) Crawford.   His son, Stanley Crawford, has been living in Chengdu this past year and Bud was just there for Stan&#8217;s wedding.   Bud&#8217;s and my great grandfather was Dr. V. C. Hart who helped establish the Canadian Methodist Mission in Chengdu.  Prior to that he established numerous missions along the Yangtze River for the New York Methodist Board of Missions from 1866 on.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Phyllis Donaghy</title>
		<link>http://cschengdu.ca/?page_id=238#comment-148</link>
		<dc:creator><![CDATA[Phyllis Donaghy]]></dc:creator>
		<pubDate>Fri, 12 Jun 2015 14:40:34 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-148</guid>
		<description><![CDATA[The 2015 reunion will be held at the Dragon Legend Restaurant in Markham, ON 0n Saturday, October 17, starting at 11:00am. Accommodations can be booked at the Comfort Inn in Markham until Sep 16 when our block of 10 rooms will be released to the public, if not booked. The programme will be &quot;How It All Began&quot; - the story of the beginning of Canadian Methodist Church, now United Church of Canada, missionary work in China in 1891. Hear the story about that small, but amazing group of men and women from their descendants. For further information or to register your attendance, please contact me at the phyllis-donaghy@ bell.net.]]></description>
		<content:encoded><![CDATA[<p>The 2015 reunion will be held at the Dragon Legend Restaurant in Markham, ON 0n Saturday, October 17, starting at 11:00am. Accommodations can be booked at the Comfort Inn in Markham until Sep 16 when our block of 10 rooms will be released to the public, if not booked. The programme will be &#8220;How It All Began&#8221; &#8211; the story of the beginning of Canadian Methodist Church, now United Church of Canada, missionary work in China in 1891. Hear the story about that small, but amazing group of men and women from their descendants. For further information or to register your attendance, please contact me at the phyllis-donaghy@ bell.net.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=238#comment-147</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Mon, 30 Mar 2015 14:51:51 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-147</guid>
		<description><![CDATA[Yes, the CS reunion will be held in 2015. For the details, please contact Phyllis, who is the chairperson of the Executive Association. You can find her email address on the page of &quot;About us.&quot;]]></description>
		<content:encoded><![CDATA[<p>Yes, the CS reunion will be held in 2015. For the details, please contact Phyllis, who is the chairperson of the Executive Association. You can find her email address on the page of &#8220;About us.&#8221;</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ramona McKean</title>
		<link>http://cschengdu.ca/?page_id=238#comment-145</link>
		<dc:creator><![CDATA[Ramona McKean]]></dc:creator>
		<pubDate>Fri, 20 Mar 2015 07:24:42 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=238#comment-145</guid>
		<description><![CDATA[Will you meet again this year, 2015? If so, when and where? :-)]]></description>
		<content:encoded><![CDATA[<p>Will you meet again this year, 2015? If so, when and where? 🙂</p>
]]></content:encoded>
	</item>
</channel>
</rss>
