<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Bill Willmott</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=638" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Emanuel Paltiel Lowi</title>
		<link>http://cschengdu.ca/?page_id=638#comment-161</link>
		<dc:creator><![CDATA[Emanuel Paltiel Lowi]]></dc:creator>
		<pubDate>Tue, 12 Jan 2016 15:11:12 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=638#comment-161</guid>
		<description><![CDATA[I would like to be in contact with Mr. Willmott.

My two sons are the great-grandchildren of Johnny Inukpuk.]]></description>
		<content:encoded><![CDATA[<p>I would like to be in contact with Mr. Willmott.</p>
<p>My two sons are the great-grandchildren of Johnny Inukpuk.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Emanuel Paltiel Lowi</title>
		<link>http://cschengdu.ca/?page_id=638#comment-160</link>
		<dc:creator><![CDATA[Emanuel Paltiel Lowi]]></dc:creator>
		<pubDate>Tue, 12 Jan 2016 15:10:28 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=638#comment-160</guid>
		<description><![CDATA[I would like to be in contact with Mr. Willmott. My two sons are the great grandchildren of Johnny Inukpuk.]]></description>
		<content:encoded><![CDATA[<p>I would like to be in contact with Mr. Willmott. My two sons are the great grandchildren of Johnny Inukpuk.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
