<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: CS Newsletter</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=94" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Kristin Stapleton</title>
		<link>http://cschengdu.ca/?page_id=94#comment-186</link>
		<dc:creator><![CDATA[Kristin Stapleton]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 18:22:38 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-186</guid>
		<description><![CDATA[Dear Patricia and friends,

The director, Gao Song, has sent me the first four of five episodes. The first focuses on the Canadian physicians who first arrived in Chengdu -- Omar and Retta Kilborn, particularly. The second focuses on West China Union University, particularly the medical and dental schools. The third focuses on the Canadian School. The fourth focuses on James Endicott and Earl Wilmott and their relations with the Nationalist and Communist parties. I haven&#039;t seen the fifth, yet, but I guess it may deal with the more recent revival of the China-Canada relationship.  Gao Song told me they plan to enter the documentary in a film festival in Montreal this summer. 

Best wishes,
Kristin]]></description>
		<content:encoded><![CDATA[<p>Dear Patricia and friends,</p>
<p>The director, Gao Song, has sent me the first four of five episodes. The first focuses on the Canadian physicians who first arrived in Chengdu &#8212; Omar and Retta Kilborn, particularly. The second focuses on West China Union University, particularly the medical and dental schools. The third focuses on the Canadian School. The fourth focuses on James Endicott and Earl Wilmott and their relations with the Nationalist and Communist parties. I haven&#8217;t seen the fifth, yet, but I guess it may deal with the more recent revival of the China-Canada relationship.  Gao Song told me they plan to enter the documentary in a film festival in Montreal this summer. </p>
<p>Best wishes,<br />
Kristin</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Patricia Brown</title>
		<link>http://cschengdu.ca/?page_id=94#comment-184</link>
		<dc:creator><![CDATA[Patricia Brown]]></dc:creator>
		<pubDate>Wed, 06 Jun 2018 19:00:18 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-184</guid>
		<description><![CDATA[Greetings Kristen,
I am the current Editor of the Newsletters featured on this website, of the Canadian School Association.  I was also interviewed in 2015 on behalf of my grandparents who served in Chungking 1920-1935.  Would you be able to give me a short overall description/outline of how the documentary will play.
We look forward to seeing the end result.
All the best,
Patricia]]></description>
		<content:encoded><![CDATA[<p>Greetings Kristen,<br />
I am the current Editor of the Newsletters featured on this website, of the Canadian School Association.  I was also interviewed in 2015 on behalf of my grandparents who served in Chungking 1920-1935.  Would you be able to give me a short overall description/outline of how the documentary will play.<br />
We look forward to seeing the end result.<br />
All the best,<br />
Patricia</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Kristin Stapleton</title>
		<link>http://cschengdu.ca/?page_id=94#comment-179</link>
		<dc:creator><![CDATA[Kristin Stapleton]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 01:59:00 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-179</guid>
		<description><![CDATA[Dear friends,

As some of your know (because you were interviewed for the project), a Chinese filmmaker, Gao Song, is making a five-part documentary on the history of Canadians in Chengdu. Through a mutual friend, he asked me to proofread the English subtitles. I discovered this website when searching for the words to the Canadian School song, which is featured in episode three. 

Thanks very much for mentioning my book on Chengdu history (Fact in Fiction) in the Fall 2016 newsletter!  Thanks again to those of you who let me use family photographs of the city. If anyone has read the book and has any feedback, I&#039;d be delighted to hear it. One correction: I am on the History faculty at the University at Buffalo, SUNY, not Syracuse University. You can find my contact information at the university&#039;s website. 

Best wishes,
Kristin Stapleton (not a mishkid!)]]></description>
		<content:encoded><![CDATA[<p>Dear friends,</p>
<p>As some of your know (because you were interviewed for the project), a Chinese filmmaker, Gao Song, is making a five-part documentary on the history of Canadians in Chengdu. Through a mutual friend, he asked me to proofread the English subtitles. I discovered this website when searching for the words to the Canadian School song, which is featured in episode three. </p>
<p>Thanks very much for mentioning my book on Chengdu history (Fact in Fiction) in the Fall 2016 newsletter!  Thanks again to those of you who let me use family photographs of the city. If anyone has read the book and has any feedback, I&#8217;d be delighted to hear it. One correction: I am on the History faculty at the University at Buffalo, SUNY, not Syracuse University. You can find my contact information at the university&#8217;s website. </p>
<p>Best wishes,<br />
Kristin Stapleton (not a mishkid!)</p>
]]></content:encoded>
	</item>
</channel>
</rss>
