<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Dora Ann Stinson</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=606" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Hertha Hanan</title>
		<link>http://cschengdu.ca/?page_id=606#comment-175</link>
		<dc:creator><![CDATA[Hertha Hanan]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 11:03:13 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=606#comment-175</guid>
		<description><![CDATA[The next time I learn a weblog, I hope that it doesnt disappoint me as much as this one. I mean, I do know it was my choice to read, however I actually thought youd have something attention-grabbing to say. All I hear is a bunch of whining about something that you could fix for those who werent too busy in search of attention.]]></description>
		<content:encoded><![CDATA[<p>The next time I learn a weblog, I hope that it doesnt disappoint me as much as this one. I mean, I do know it was my choice to read, however I actually thought youd have something attention-grabbing to say. All I hear is a bunch of whining about something that you could fix for those who werent too busy in search of attention.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
