<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Canadian School In West China</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;p=1" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca/?p=1</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: judith outerbridge walker</title>
		<link>http://cschengdu.ca/?p=1#comment-136</link>
		<dc:creator><![CDATA[judith outerbridge walker]]></dc:creator>
		<pubDate>Tue, 04 Nov 2014 19:32:55 +0000</pubDate>
		<guid isPermaLink="false">#comment-136</guid>
		<description><![CDATA[We need some photos........how can that happen?

.....so sorry to read of Maisie Jolliff&#039;s passing.  She loomed large in our childhood...such a vivid personality.  I remember her laughter and her stories....]]></description>
		<content:encoded><![CDATA[<p>We need some photos&#8230;&#8230;..how can that happen?</p>
<p>&#8230;..so sorry to read of Maisie Jolliff&#8217;s passing.  She loomed large in our childhood&#8230;such a vivid personality.  I remember her laughter and her stories&#8230;.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dorie Preston</title>
		<link>http://cschengdu.ca/?p=1#comment-134</link>
		<dc:creator><![CDATA[Dorie Preston]]></dc:creator>
		<pubDate>Mon, 27 Oct 2014 16:19:51 +0000</pubDate>
		<guid isPermaLink="false">#comment-134</guid>
		<description><![CDATA[Thank you for the opportunity to present the story of Grandma Meuser (Edna May Speers Meuser) at the CS Reunion luncheon on Oct. 18, 2014. It was a pleasure to also hear of 3 other extraordinary women in the China Mission.]]></description>
		<content:encoded><![CDATA[<p>Thank you for the opportunity to present the story of Grandma Meuser (Edna May Speers Meuser) at the CS Reunion luncheon on Oct. 18, 2014. It was a pleasure to also hear of 3 other extraordinary women in the China Mission.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Admin2</title>
		<link>http://cschengdu.ca/?p=1#comment-133</link>
		<dc:creator><![CDATA[Admin2]]></dc:creator>
		<pubDate>Sun, 19 Oct 2014 22:16:51 +0000</pubDate>
		<guid isPermaLink="false">#comment-133</guid>
		<description><![CDATA[The Annual Canadian School Reunion was held yesterday (October 18, 2014) just north of Toronto, in Markham at the Dagon Legend Restaurant. The meal was attended by approximately 120 people, which is an all time high. Wonderful  to see such renewed interest in this history.  

There was a wonderful PROGRAMME: &quot;The Stories of Missionary Wives, as told by their Granddaughters&quot; :  Winnifred Allen, by Louise Jenkins 2) Edna May Meuser,  by Dorie  Preston  3)  Agnes  Annis, by  Lynn  Wyvill  4) Clara Jones, by Jean Zamen. 

I hope next year will be another gathering of the CS alumni, their families and other interested people.]]></description>
		<content:encoded><![CDATA[<p>The Annual Canadian School Reunion was held yesterday (October 18, 2014) just north of Toronto, in Markham at the Dagon Legend Restaurant. The meal was attended by approximately 120 people, which is an all time high. Wonderful  to see such renewed interest in this history.  </p>
<p>There was a wonderful PROGRAMME: &#8220;The Stories of Missionary Wives, as told by their Granddaughters&#8221; :  Winnifred Allen, by Louise Jenkins 2) Edna May Meuser,  by Dorie  Preston  3)  Agnes  Annis, by  Lynn  Wyvill  4) Clara Jones, by Jean Zamen. </p>
<p>I hope next year will be another gathering of the CS alumni, their families and other interested people.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?p=1#comment-131</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Wed, 17 Sep 2014 22:12:13 +0000</pubDate>
		<guid isPermaLink="false">#comment-131</guid>
		<description><![CDATA[Hi Roman, I&#039;ve seen the captcha when logging in. Thanks.]]></description>
		<content:encoded><![CDATA[<p>Hi Roman, I&#8217;ve seen the captcha when logging in. Thanks.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Roman Trutiak</title>
		<link>http://cschengdu.ca/?p=1#comment-130</link>
		<dc:creator><![CDATA[Roman Trutiak]]></dc:creator>
		<pubDate>Wed, 17 Sep 2014 04:11:47 +0000</pubDate>
		<guid isPermaLink="false">#comment-130</guid>
		<description><![CDATA[Hi Yingming, I have added a security feature for your website. I hope it works.
Try posting a comment. 
Enjoy!
Roman]]></description>
		<content:encoded><![CDATA[<p>Hi Yingming, I have added a security feature for your website. I hope it works.<br />
Try posting a comment.<br />
Enjoy!<br />
Roman</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: judith outerbridge walker</title>
		<link>http://cschengdu.ca/?p=1#comment-12</link>
		<dc:creator><![CDATA[judith outerbridge walker]]></dc:creator>
		<pubDate>Sun, 02 Mar 2014 23:29:38 +0000</pubDate>
		<guid isPermaLink="false">#comment-12</guid>
		<description><![CDATA[Fantastic....wonderful website...can hardly wait to explore it....]]></description>
		<content:encoded><![CDATA[<p>Fantastic&#8230;.wonderful website&#8230;can hardly wait to explore it&#8230;.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Admin2</title>
		<link>http://cschengdu.ca/?p=1#comment-11</link>
		<dc:creator><![CDATA[Admin2]]></dc:creator>
		<pubDate>Fri, 28 Feb 2014 15:08:43 +0000</pubDate>
		<guid isPermaLink="false">#comment-11</guid>
		<description><![CDATA[Thanks, Malcolm. That sentence was deleted. And more comments on the website are appreciated.]]></description>
		<content:encoded><![CDATA[<p>Thanks, Malcolm. That sentence was deleted. And more comments on the website are appreciated.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Malcolm Reed</title>
		<link>http://cschengdu.ca/?p=1#comment-10</link>
		<dc:creator><![CDATA[Malcolm Reed]]></dc:creator>
		<pubDate>Sun, 23 Feb 2014 21:56:09 +0000</pubDate>
		<guid isPermaLink="false">#comment-10</guid>
		<description><![CDATA[It&#039;s great to have a CS website. Congratulations to all responsible for its creation! Two comments: (1) It seems odd to describe the CS first as &quot;The Canadian School in West China&quot; , then immediately as &quot;The Canadian School in Western China&quot;. and (2) the description &quot;the School my father chose for me&quot; seems today to be unbearably sexist, as well as more or less inaccurate in most cases. (I know of course that the description comes from the school song.)]]></description>
		<content:encoded><![CDATA[<p>It&#8217;s great to have a CS website. Congratulations to all responsible for its creation! Two comments: (1) It seems odd to describe the CS first as &#8220;The Canadian School in West China&#8221; , then immediately as &#8220;The Canadian School in Western China&#8221;. and (2) the description &#8220;the School my father chose for me&#8221; seems today to be unbearably sexist, as well as more or less inaccurate in most cases. (I know of course that the description comes from the school song.)</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Malcolm Reed</title>
		<link>http://cschengdu.ca/?p=1#comment-9</link>
		<dc:creator><![CDATA[Malcolm Reed]]></dc:creator>
		<pubDate>Sun, 23 Feb 2014 21:54:13 +0000</pubDate>
		<guid isPermaLink="false">#comment-9</guid>
		<description><![CDATA[It&#039;s great to have a CS website. Congratulations to all responsible for its creation! Two comments: (1) It seems odd to describe the CS first as &quot;The Canadian School in West China&quot; , then immediately as &quot;The Canadian School in Western China&quot;. and (2) the description &quot;the School my father chose for me&quot; seems today to be unbearably sexist, as well as more or less inaccurate in most cases.]]></description>
		<content:encoded><![CDATA[<p>It&#8217;s great to have a CS website. Congratulations to all responsible for its creation! Two comments: (1) It seems odd to describe the CS first as &#8220;The Canadian School in West China&#8221; , then immediately as &#8220;The Canadian School in Western China&#8221;. and (2) the description &#8220;the School my father chose for me&#8221; seems today to be unbearably sexist, as well as more or less inaccurate in most cases.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
