<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Canadian School in West China</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;cat=1" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Tue, 15 Jan 2019 13:10:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>Canadian School In West China</title>
		<link>http://cschengdu.ca/?p=1</link>
		<comments>http://cschengdu.ca/?p=1#comments</comments>
		<pubDate>Mon, 16 Dec 2013 19:27:05 +0000</pubDate>
		<dc:creator><![CDATA[Admin2]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false"></guid>
		<description><![CDATA[Welcome to the website for the Canadian School of West China, built in Chengdu, Sichuan in the early years of the 20th century. It is sponsored by the Executive of the Canadian School Association. When Canadians of the Canadian Methodist Mission first arrived in West China in 1891, their focus, initially, was evangelization, teaching and &#8230; <a href="http://cschengdu.ca/?p=1" class="more-link">Continue reading <span class="screen-reader-text">Canadian School In West China</span> <span class="meta-nav">&#8594;</span></a>]]></description>
				<content:encoded><![CDATA[<p><a href="http://cschengdu.ca/wp-content/uploads/2013/12/logo-2.png"><img class="alignnone wp-image-74 alignleft" src="http://cschengdu.ca/wp-content/uploads/2013/12/logo-2.png" alt="logo-2" width="102" height="118" /></a></p>
<p>Welcome to the website for the Canadian School of West China, built in Chengdu, Sichuan in the early years of the 20th century. It is sponsored by the Executive of the Canadian School Association. When Canadians of the Canadian Methodist Mission first arrived in West China in 1891, their focus, initially, was evangelization, teaching and medicine. Within a few years, it was apparent that a school for missionary children would have to be started. Here you can read the story of the school, its teachers, but primarily, its students, from its happy opening in 1909 until its sad closing in 1950. We invite you, the former students, your children and grandchildren,   to share the stories and pictures of life as a pupil at the Canadian School in Chengdu, West China.</p>
<p>This is your website. Make it a treasury of memories.</p>
<h5>Phyllis Donaghy, Chair of the Canadian School Association.</h5>
]]></content:encoded>
			<wfw:commentRss>http://cschengdu.ca/?feed=rss2&#038;p=1</wfw:commentRss>
		<slash:comments>9</slash:comments>
		</item>
	</channel>
</rss>
