<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Edna May Speers Meuser (1883-1964)</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=261" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Patty Meuser-Kristy</title>
		<link>http://cschengdu.ca/?page_id=261#comment-141</link>
		<dc:creator><![CDATA[Patty Meuser-Kristy]]></dc:creator>
		<pubDate>Fri, 05 Dec 2014 19:49:43 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=261#comment-141</guid>
		<description><![CDATA[Thank you for your work on this Dorie Lennie and Zhang Yingming! What an interesting and informative story of Grandma Meuser.
Somewhere in my batch of pictures I have one of the Lennie/Day and Meuser grandchildren..the only one missing is Rob Campbell because he wasn&#039;t born yet.]]></description>
		<content:encoded><![CDATA[<p>Thank you for your work on this Dorie Lennie and Zhang Yingming! What an interesting and informative story of Grandma Meuser.<br />
Somewhere in my batch of pictures I have one of the Lennie/Day and Meuser grandchildren..the only one missing is Rob Campbell because he wasn&#8217;t born yet.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Gord Meuser</title>
		<link>http://cschengdu.ca/?page_id=261#comment-139</link>
		<dc:creator><![CDATA[Gord Meuser]]></dc:creator>
		<pubDate>Mon, 17 Nov 2014 23:49:48 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=261#comment-139</guid>
		<description><![CDATA[What a wonderful history of Grandma Meuser.]]></description>
		<content:encoded><![CDATA[<p>What a wonderful history of Grandma Meuser.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dorie Preston</title>
		<link>http://cschengdu.ca/?page_id=261#comment-137</link>
		<dc:creator><![CDATA[Dorie Preston]]></dc:creator>
		<pubDate>Thu, 06 Nov 2014 00:09:58 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=261#comment-137</guid>
		<description><![CDATA[Zhang Yingming has done a marvellous job of putting together the Meuser photos with the text. My family and I greatly appreciate the work that has gone into putting this story on the website.
Dorie]]></description>
		<content:encoded><![CDATA[<p>Zhang Yingming has done a marvellous job of putting together the Meuser photos with the text. My family and I greatly appreciate the work that has gone into putting this story on the website.<br />
Dorie</p>
]]></content:encoded>
	</item>
</channel>
</rss>
