<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: About us</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=20" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=20#comment-163</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Sat, 27 Feb 2016 02:50:31 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=20#comment-163</guid>
		<description><![CDATA[Would you like to let me know way you are interested in this topic? Thanks.]]></description>
		<content:encoded><![CDATA[<p>Would you like to let me know way you are interested in this topic? Thanks.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: boli</title>
		<link>http://cschengdu.ca/?page_id=20#comment-162</link>
		<dc:creator><![CDATA[boli]]></dc:creator>
		<pubDate>Thu, 04 Feb 2016 19:26:53 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=20#comment-162</guid>
		<description><![CDATA[To Whom It May Concern: 

I am very pleasantly surprised by this website.  I became very interested in a couple David and Isabel Cook and found out that Isabel&#039;s parents were from St. Mary Ontario and were missionary based in Chendu where Isabel was born. I guess she must have attended the CSWC.  I would  greatly appreciate if someone can kindly point to me how to find out more information about Isable&#039;s parents work, and secondly I would be very interested in learning more about the Canadian School in Western China project.  I would love to contribute to the project by making a stronger link with Chendu China if it is needed.  I am living in Kincardine Ontario.  thank you for your attention, my phone contact is 226-992-0513]]></description>
		<content:encoded><![CDATA[<p>To Whom It May Concern: </p>
<p>I am very pleasantly surprised by this website.  I became very interested in a couple David and Isabel Cook and found out that Isabel&#8217;s parents were from St. Mary Ontario and were missionary based in Chendu where Isabel was born. I guess she must have attended the CSWC.  I would  greatly appreciate if someone can kindly point to me how to find out more information about Isable&#8217;s parents work, and secondly I would be very interested in learning more about the Canadian School in Western China project.  I would love to contribute to the project by making a stronger link with Chendu China if it is needed.  I am living in Kincardine Ontario.  thank you for your attention, my phone contact is 226-992-0513</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Doug Smith</title>
		<link>http://cschengdu.ca/?page_id=20#comment-103</link>
		<dc:creator><![CDATA[Doug Smith]]></dc:creator>
		<pubDate>Tue, 08 Jul 2014 12:07:06 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=20#comment-103</guid>
		<description><![CDATA[Just a happy note to say how much my MishKid 1 Dad would be delighted with the website. In a moment he would be suggesting how the Site could be used to further China/Canada relations.]]></description>
		<content:encoded><![CDATA[<p>Just a happy note to say how much my MishKid 1 Dad would be delighted with the website. In a moment he would be suggesting how the Site could be used to further China/Canada relations.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: judith outerbridge walker</title>
		<link>http://cschengdu.ca/?page_id=20#comment-13</link>
		<dc:creator><![CDATA[judith outerbridge walker]]></dc:creator>
		<pubDate>Sun, 02 Mar 2014 23:32:02 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=20#comment-13</guid>
		<description><![CDATA[How should we post pictures and stories Phyllis...in this comment box or separately....such an excellent idea!!!]]></description>
		<content:encoded><![CDATA[<p>How should we post pictures and stories Phyllis&#8230;in this comment box or separately&#8230;.such an excellent idea!!!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Phyllis Donaghy</title>
		<link>http://cschengdu.ca/?page_id=20#comment-8</link>
		<dc:creator><![CDATA[Phyllis Donaghy]]></dc:creator>
		<pubDate>Sun, 23 Feb 2014 18:00:50 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=20#comment-8</guid>
		<description><![CDATA[Wonderful effort! My sisters and I will add our story of days at the CS! One wee glitch - &quot;father&quot; not &quot;father&quot; oops! This is so exciting - we are now on the map! Phyllis]]></description>
		<content:encoded><![CDATA[<p>Wonderful effort! My sisters and I will add our story of days at the CS! One wee glitch &#8211; &#8220;father&#8221; not &#8220;father&#8221; oops! This is so exciting &#8211; we are now on the map! Phyllis</p>
]]></content:encoded>
	</item>
</channel>
</rss>
