<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Jean (Hayward) Strangway</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=538" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Raquel Preston</title>
		<link>http://cschengdu.ca/?page_id=538#comment-144</link>
		<dc:creator><![CDATA[Raquel Preston]]></dc:creator>
		<pubDate>Fri, 16 Jan 2015 20:49:47 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=538#comment-144</guid>
		<description><![CDATA[Hi Don,

I am researching for the University of Toronto as a member of the Sports Hall of Fame Selection Committee. From my research, I believe you may the husband of Jean (Hayward) Strangway.  I am pleased to tell you Jean has been inducted into the 2015 Sports Hall of Fame for her incredible accomplishments in archery at the University of Toronto. The Faculty of Kinesiology and Physical Education are hosting an induction ceremony and reception in late May. If you are indeed in relation to Mary, we would truly enjoy if you could accept the induction in her honour. If you have any questions please contact me.

Thank you kindly,

Raquel Preston
Faculty of Kinesiology and Physical Education
University of Toronto]]></description>
		<content:encoded><![CDATA[<p>Hi Don,</p>
<p>I am researching for the University of Toronto as a member of the Sports Hall of Fame Selection Committee. From my research, I believe you may the husband of Jean (Hayward) Strangway.  I am pleased to tell you Jean has been inducted into the 2015 Sports Hall of Fame for her incredible accomplishments in archery at the University of Toronto. The Faculty of Kinesiology and Physical Education are hosting an induction ceremony and reception in late May. If you are indeed in relation to Mary, we would truly enjoy if you could accept the induction in her honour. If you have any questions please contact me.</p>
<p>Thank you kindly,</p>
<p>Raquel Preston<br />
Faculty of Kinesiology and Physical Education<br />
University of Toronto</p>
]]></content:encoded>
	</item>
</channel>
</rss>
