<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Clara Jones  (1887-1969)</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=328" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Patricia Brown</title>
		<link>http://cschengdu.ca/?page_id=328#comment-154</link>
		<dc:creator><![CDATA[Patricia Brown]]></dc:creator>
		<pubDate>Thu, 22 Oct 2015 22:19:31 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=328#comment-154</guid>
		<description><![CDATA[Hi Jean,
Great to read this article, we missed it, mom would have loved to read this!
Could you please tell me, the painting at the end of your article..........is the artist Anna Morse?  What is the title, and where was it painted?
Pat]]></description>
		<content:encoded><![CDATA[<p>Hi Jean,<br />
Great to read this article, we missed it, mom would have loved to read this!<br />
Could you please tell me, the painting at the end of your article&#8230;&#8230;&#8230;.is the artist Anna Morse?  What is the title, and where was it painted?<br />
Pat</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=328#comment-153</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Wed, 09 Sep 2015 13:35:30 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=328#comment-153</guid>
		<description><![CDATA[Hi, would you like to tell me something about your writing about the WMS. Thanks.]]></description>
		<content:encoded><![CDATA[<p>Hi, would you like to tell me something about your writing about the WMS. Thanks.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=328#comment-152</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Wed, 09 Sep 2015 13:34:28 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=328#comment-152</guid>
		<description><![CDATA[Hi Ileen,

Yes, I&#039;d like to know the names, and also you can tell me something about your research of one of them. Thanks.

Yingming]]></description>
		<content:encoded><![CDATA[<p>Hi Ileen,</p>
<p>Yes, I&#8217;d like to know the names, and also you can tell me something about your research of one of them. Thanks.</p>
<p>Yingming</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ileen</title>
		<link>http://cschengdu.ca/?page_id=328#comment-151</link>
		<dc:creator><![CDATA[Ileen]]></dc:creator>
		<pubDate>Sun, 30 Aug 2015 18:15:41 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=328#comment-151</guid>
		<description><![CDATA[Hi, I can identify each of those WMS women on the boat.
I have been researching the life of one of them. She was a local resident.
Let me know if you would like the names.]]></description>
		<content:encoded><![CDATA[<p>Hi, I can identify each of those WMS women on the boat.<br />
I have been researching the life of one of them. She was a local resident.<br />
Let me know if you would like the names.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Rosemary Gagan</title>
		<link>http://cschengdu.ca/?page_id=328#comment-149</link>
		<dc:creator><![CDATA[Rosemary Gagan]]></dc:creator>
		<pubDate>Tue, 28 Jul 2015 13:49:18 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=328#comment-149</guid>
		<description><![CDATA[What an interesting story!  How I wish I had this information when I was writing about the WMS.  When was this posted?]]></description>
		<content:encoded><![CDATA[<p>What an interesting story!  How I wish I had this information when I was writing about the WMS.  When was this posted?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
