<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Canadian School in West China</title>
	<atom:link href="http://cschengdu.ca/?feed=comments-rss2" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>Comment on History by judi qiu qiu</title>
		<link>http://cschengdu.ca/?page_id=454#comment-187</link>
		<dc:creator><![CDATA[judi qiu qiu]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 21:03:22 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-187</guid>
		<description><![CDATA[I feel that is among the such a lot important info for me.
And i am happy reading your article. But wanna 
commentary on some normal issues, The website taste is ideal,
the articles is actually nice :D. Good job, cheers.]]></description>
		<content:encoded><![CDATA[<p>I feel that is among the such a lot important info for me.<br />
And i am happy reading your article. But wanna<br />
commentary on some normal issues, The website taste is ideal,<br />
the articles is actually nice :D. Good job, cheers.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on CS Newsletter by Kristin Stapleton</title>
		<link>http://cschengdu.ca/?page_id=94#comment-186</link>
		<dc:creator><![CDATA[Kristin Stapleton]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 18:22:38 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-186</guid>
		<description><![CDATA[Dear Patricia and friends,

The director, Gao Song, has sent me the first four of five episodes. The first focuses on the Canadian physicians who first arrived in Chengdu -- Omar and Retta Kilborn, particularly. The second focuses on West China Union University, particularly the medical and dental schools. The third focuses on the Canadian School. The fourth focuses on James Endicott and Earl Wilmott and their relations with the Nationalist and Communist parties. I haven&#039;t seen the fifth, yet, but I guess it may deal with the more recent revival of the China-Canada relationship.  Gao Song told me they plan to enter the documentary in a film festival in Montreal this summer. 

Best wishes,
Kristin]]></description>
		<content:encoded><![CDATA[<p>Dear Patricia and friends,</p>
<p>The director, Gao Song, has sent me the first four of five episodes. The first focuses on the Canadian physicians who first arrived in Chengdu &#8212; Omar and Retta Kilborn, particularly. The second focuses on West China Union University, particularly the medical and dental schools. The third focuses on the Canadian School. The fourth focuses on James Endicott and Earl Wilmott and their relations with the Nationalist and Communist parties. I haven&#8217;t seen the fifth, yet, but I guess it may deal with the more recent revival of the China-Canada relationship.  Gao Song told me they plan to enter the documentary in a film festival in Montreal this summer. </p>
<p>Best wishes,<br />
Kristin</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by kiu kiu online uang asli</title>
		<link>http://cschengdu.ca/?page_id=454#comment-185</link>
		<dc:creator><![CDATA[kiu kiu online uang asli]]></dc:creator>
		<pubDate>Fri, 08 Jun 2018 23:28:49 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-185</guid>
		<description><![CDATA[Howdy! I know this is kinda off topic but I was 
wondering if you knew where I could find a captcha plugin for my comment form?
I&#039;m using the same blog platform as yours and I&#039;m having trouble finding one?
Thanks a lot!]]></description>
		<content:encoded><![CDATA[<p>Howdy! I know this is kinda off topic but I was<br />
wondering if you knew where I could find a captcha plugin for my comment form?<br />
I&#8217;m using the same blog platform as yours and I&#8217;m having trouble finding one?<br />
Thanks a lot!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on CS Newsletter by Patricia Brown</title>
		<link>http://cschengdu.ca/?page_id=94#comment-184</link>
		<dc:creator><![CDATA[Patricia Brown]]></dc:creator>
		<pubDate>Wed, 06 Jun 2018 19:00:18 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-184</guid>
		<description><![CDATA[Greetings Kristen,
I am the current Editor of the Newsletters featured on this website, of the Canadian School Association.  I was also interviewed in 2015 on behalf of my grandparents who served in Chungking 1920-1935.  Would you be able to give me a short overall description/outline of how the documentary will play.
We look forward to seeing the end result.
All the best,
Patricia]]></description>
		<content:encoded><![CDATA[<p>Greetings Kristen,<br />
I am the current Editor of the Newsletters featured on this website, of the Canadian School Association.  I was also interviewed in 2015 on behalf of my grandparents who served in Chungking 1920-1935.  Would you be able to give me a short overall description/outline of how the documentary will play.<br />
We look forward to seeing the end result.<br />
All the best,<br />
Patricia</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by poker online terbaru</title>
		<link>http://cschengdu.ca/?page_id=454#comment-182</link>
		<dc:creator><![CDATA[poker online terbaru]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 21:34:54 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-182</guid>
		<description><![CDATA[hello there and thank you for your information ? I have definitely picked up something new from right 
here. I did however expertise a few technical points using this 
web site, as I experienced to reload the website many times previous to I could get it to load properly.
I had been wondering if your hosting is OK? Not that I am complaining, but sluggish loading instances times will often affect your placement in google and could damage your high quality score if ads and marketing with Adwords.
Well I am adding this RSS to my e-mail and could 
look out for much more of your respective fascinating content.
Make sure you update this again very soon..]]></description>
		<content:encoded><![CDATA[<p>hello there and thank you for your information ? I have definitely picked up something new from right<br />
here. I did however expertise a few technical points using this<br />
web site, as I experienced to reload the website many times previous to I could get it to load properly.<br />
I had been wondering if your hosting is OK? Not that I am complaining, but sluggish loading instances times will often affect your placement in google and could damage your high quality score if ads and marketing with Adwords.<br />
Well I am adding this RSS to my e-mail and could<br />
look out for much more of your respective fascinating content.<br />
Make sure you update this again very soon..</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by hoki bandarq</title>
		<link>http://cschengdu.ca/?page_id=454#comment-181</link>
		<dc:creator><![CDATA[hoki bandarq]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 11:45:44 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-181</guid>
		<description><![CDATA[certainly like your website however you need to check the spelling on several of your posts.

Many of them are rife with spelling issues and I find it very troublesome to tell the 
reality however I will certainly come back again.]]></description>
		<content:encoded><![CDATA[<p>certainly like your website however you need to check the spelling on several of your posts.</p>
<p>Many of them are rife with spelling issues and I find it very troublesome to tell the<br />
reality however I will certainly come back again.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on CS Newsletter by Kristin Stapleton</title>
		<link>http://cschengdu.ca/?page_id=94#comment-179</link>
		<dc:creator><![CDATA[Kristin Stapleton]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 01:59:00 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=94#comment-179</guid>
		<description><![CDATA[Dear friends,

As some of your know (because you were interviewed for the project), a Chinese filmmaker, Gao Song, is making a five-part documentary on the history of Canadians in Chengdu. Through a mutual friend, he asked me to proofread the English subtitles. I discovered this website when searching for the words to the Canadian School song, which is featured in episode three. 

Thanks very much for mentioning my book on Chengdu history (Fact in Fiction) in the Fall 2016 newsletter!  Thanks again to those of you who let me use family photographs of the city. If anyone has read the book and has any feedback, I&#039;d be delighted to hear it. One correction: I am on the History faculty at the University at Buffalo, SUNY, not Syracuse University. You can find my contact information at the university&#039;s website. 

Best wishes,
Kristin Stapleton (not a mishkid!)]]></description>
		<content:encoded><![CDATA[<p>Dear friends,</p>
<p>As some of your know (because you were interviewed for the project), a Chinese filmmaker, Gao Song, is making a five-part documentary on the history of Canadians in Chengdu. Through a mutual friend, he asked me to proofread the English subtitles. I discovered this website when searching for the words to the Canadian School song, which is featured in episode three. </p>
<p>Thanks very much for mentioning my book on Chengdu history (Fact in Fiction) in the Fall 2016 newsletter!  Thanks again to those of you who let me use family photographs of the city. If anyone has read the book and has any feedback, I&#8217;d be delighted to hear it. One correction: I am on the History faculty at the University at Buffalo, SUNY, not Syracuse University. You can find my contact information at the university&#8217;s website. </p>
<p>Best wishes,<br />
Kristin Stapleton (not a mishkid!)</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by cara hack domino 99 pulsa</title>
		<link>http://cschengdu.ca/?page_id=454#comment-178</link>
		<dc:creator><![CDATA[cara hack domino 99 pulsa]]></dc:creator>
		<pubDate>Sun, 03 Jun 2018 01:05:17 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-178</guid>
		<description><![CDATA[I would like to take the opportunity of thanking you for that professional assistance I have often enjoyed 
checking out your site. We&#039;re looking forward to the actual commencement of my college research 
and the overall groundwork would never have been complete 
without visiting your web site. If I might be of any assistance to others,
I&#039;d be happy to help by means of what I have learned from here.]]></description>
		<content:encoded><![CDATA[<p>I would like to take the opportunity of thanking you for that professional assistance I have often enjoyed<br />
checking out your site. We&#8217;re looking forward to the actual commencement of my college research<br />
and the overall groundwork would never have been complete<br />
without visiting your web site. If I might be of any assistance to others,<br />
I&#8217;d be happy to help by means of what I have learned from here.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by Jermaine Grisostomo</title>
		<link>http://cschengdu.ca/?page_id=9#comment-177</link>
		<dc:creator><![CDATA[Jermaine Grisostomo]]></dc:creator>
		<pubDate>Sat, 02 Jun 2018 09:35:03 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=9#comment-177</guid>
		<description><![CDATA[It’s truly a nice and helpful piece of info. I am glad that you simply shared this helpful info with us. Please keep us informed like this. Thanks for sharing.]]></description>
		<content:encoded><![CDATA[<p>It’s truly a nice and helpful piece of info. I am glad that you simply shared this helpful info with us. Please keep us informed like this. Thanks for sharing.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on History by judi online tanpa deposit awal</title>
		<link>http://cschengdu.ca/?page_id=454#comment-176</link>
		<dc:creator><![CDATA[judi online tanpa deposit awal]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 15:06:45 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-176</guid>
		<description><![CDATA[It&#039;s enormous that you are getting thoughts from this paragraph as well as from our 
discussion made here.]]></description>
		<content:encoded><![CDATA[<p>It&#8217;s enormous that you are getting thoughts from this paragraph as well as from our<br />
discussion made here.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
