<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Helen Bacon</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=509" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Ramona McKean</title>
		<link>http://cschengdu.ca/?page_id=509#comment-146</link>
		<dc:creator><![CDATA[Ramona McKean]]></dc:creator>
		<pubDate>Wed, 25 Mar 2015 05:03:56 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=509#comment-146</guid>
		<description><![CDATA[Fascinating!  Thank you.   :-)]]></description>
		<content:encoded><![CDATA[<p>Fascinating!  Thank you.   🙂</p>
]]></content:encoded>
	</item>
</channel>
</rss>
