<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Katherine and Earl Willmott</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=635" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Bill Willmott</title>
		<link>http://cschengdu.ca/?page_id=635#comment-140</link>
		<dc:creator><![CDATA[Bill Willmott]]></dc:creator>
		<pubDate>Thu, 20 Nov 2014 03:37:44 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=635#comment-140</guid>
		<description><![CDATA[Minor error the Willmott house at 103 HuoBa  still stands and is occupied.  Willmotts left Chengdu in 1952, the house was assigned to the dean of medicine (we were told),  and was occupied by another university staff member when we visited it in 2011(?).  We will visit again in early May 2015.]]></description>
		<content:encoded><![CDATA[<p>Minor error the Willmott house at 103 HuoBa  still stands and is occupied.  Willmotts left Chengdu in 1952, the house was assigned to the dean of medicine (we were told),  and was occupied by another university staff member when we visited it in 2011(?).  We will visit again in early May 2015.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
