<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: History</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=9" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Jermaine Grisostomo</title>
		<link>http://cschengdu.ca/?page_id=9#comment-177</link>
		<dc:creator><![CDATA[Jermaine Grisostomo]]></dc:creator>
		<pubDate>Sat, 02 Jun 2018 09:35:03 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=9#comment-177</guid>
		<description><![CDATA[It’s truly a nice and helpful piece of info. I am glad that you simply shared this helpful info with us. Please keep us informed like this. Thanks for sharing.]]></description>
		<content:encoded><![CDATA[<p>It’s truly a nice and helpful piece of info. I am glad that you simply shared this helpful info with us. Please keep us informed like this. Thanks for sharing.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Branden Elles</title>
		<link>http://cschengdu.ca/?page_id=9#comment-173</link>
		<dc:creator><![CDATA[Branden Elles]]></dc:creator>
		<pubDate>Thu, 31 May 2018 06:12:44 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=9#comment-173</guid>
		<description><![CDATA[Another thing I&#039;ve really noticed is always that for many people, a bad credit score is the reaction to circumstances over and above their control. As an example they may be really saddled with illness and as a consequence they have substantial bills going to collections. It can be due to a work loss and the inability to work. Sometimes divorce or separation can truly send the funds in a downward direction. Many thanks for sharing your thinking on this website.]]></description>
		<content:encoded><![CDATA[<p>Another thing I&#8217;ve really noticed is always that for many people, a bad credit score is the reaction to circumstances over and above their control. As an example they may be really saddled with illness and as a consequence they have substantial bills going to collections. It can be due to a work loss and the inability to work. Sometimes divorce or separation can truly send the funds in a downward direction. Many thanks for sharing your thinking on this website.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=9#comment-143</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Sun, 14 Dec 2014 15:07:23 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=9#comment-143</guid>
		<description><![CDATA[Dear Robert,

Many thanks for your comment. This is Zhang Yingming, one of the webmasters. Would you like to give me your email address to go on to have a discussion of Canadian School?]]></description>
		<content:encoded><![CDATA[<p>Dear Robert,</p>
<p>Many thanks for your comment. This is Zhang Yingming, one of the webmasters. Would you like to give me your email address to go on to have a discussion of Canadian School?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Robert W. Park</title>
		<link>http://cschengdu.ca/?page_id=9#comment-142</link>
		<dc:creator><![CDATA[Robert W. Park]]></dc:creator>
		<pubDate>Sat, 13 Dec 2014 17:24:34 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=9#comment-142</guid>
		<description><![CDATA[I believe the correct year for the laying of the corner stone of the new school was 1915. My grandfather William Leonard, as &quot;Builder Canadian Methodist Mission,&quot; apparently oversaw the school&#039;s construction. I have a photograph of the corner stone laying on which he wrote the date as &quot;17th DEC 1915.&quot; An online perpetual calendar shows that Dec. 17 fell on a Friday in 1915, while in 1916 it fell on a Sunday. I also have a photo showing that construction of the school was considerably farther along by Jan. 1916. These photos can be seen online at http://loonfoot.com/Leonard/LeonardScrapbook/China/School/M.htm. The closeup at http://loonfoot.com/Leonard/LeonardScrapbook/China/School/02.htm shows my mother, Catherine Leonard, at age 4, standing on the corner stone.  (She later attended the school.)]]></description>
		<content:encoded><![CDATA[<p>I believe the correct year for the laying of the corner stone of the new school was 1915. My grandfather William Leonard, as &#8220;Builder Canadian Methodist Mission,&#8221; apparently oversaw the school&#8217;s construction. I have a photograph of the corner stone laying on which he wrote the date as &#8220;17th DEC 1915.&#8221; An online perpetual calendar shows that Dec. 17 fell on a Friday in 1915, while in 1916 it fell on a Sunday. I also have a photo showing that construction of the school was considerably farther along by Jan. 1916. These photos can be seen online at <a href="http://loonfoot.com/Leonard/LeonardScrapbook/China/School/M.htm" rel="nofollow">http://loonfoot.com/Leonard/LeonardScrapbook/China/School/M.htm</a>. The closeup at <a href="http://loonfoot.com/Leonard/LeonardScrapbook/China/School/02.htm" rel="nofollow">http://loonfoot.com/Leonard/LeonardScrapbook/China/School/02.htm</a> shows my mother, Catherine Leonard, at age 4, standing on the corner stone.  (She later attended the school.)</p>
]]></content:encoded>
	</item>
</channel>
</rss>
