<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Suzhen&#8217;s Message</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=273" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: Dorie Preston</title>
		<link>http://cschengdu.ca/?page_id=273#comment-138</link>
		<dc:creator><![CDATA[Dorie Preston]]></dc:creator>
		<pubDate>Mon, 17 Nov 2014 01:07:15 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=273#comment-138</guid>
		<description><![CDATA[The book that Suzhen has compiled shares valuable information about the history of the Old Canadian Photo Project. The whole project, including the book that was shared at the 2014 CS Reunion, has been a labour of love over several years by many volunteers led by Suzhen and her amazing team. My thanks are extended to all of the volunteers who have assisted in this extensive project.]]></description>
		<content:encoded><![CDATA[<p>The book that Suzhen has compiled shares valuable information about the history of the Old Canadian Photo Project. The whole project, including the book that was shared at the 2014 CS Reunion, has been a labour of love over several years by many volunteers led by Suzhen and her amazing team. My thanks are extended to all of the volunteers who have assisted in this extensive project.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
