<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: History</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=454" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: judi qiu qiu</title>
		<link>http://cschengdu.ca/?page_id=454#comment-187</link>
		<dc:creator><![CDATA[judi qiu qiu]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 21:03:22 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-187</guid>
		<description><![CDATA[I feel that is among the such a lot important info for me.
And i am happy reading your article. But wanna 
commentary on some normal issues, The website taste is ideal,
the articles is actually nice :D. Good job, cheers.]]></description>
		<content:encoded><![CDATA[<p>I feel that is among the such a lot important info for me.<br />
And i am happy reading your article. But wanna<br />
commentary on some normal issues, The website taste is ideal,<br />
the articles is actually nice :D. Good job, cheers.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: kiu kiu online uang asli</title>
		<link>http://cschengdu.ca/?page_id=454#comment-185</link>
		<dc:creator><![CDATA[kiu kiu online uang asli]]></dc:creator>
		<pubDate>Fri, 08 Jun 2018 23:28:49 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-185</guid>
		<description><![CDATA[Howdy! I know this is kinda off topic but I was 
wondering if you knew where I could find a captcha plugin for my comment form?
I&#039;m using the same blog platform as yours and I&#039;m having trouble finding one?
Thanks a lot!]]></description>
		<content:encoded><![CDATA[<p>Howdy! I know this is kinda off topic but I was<br />
wondering if you knew where I could find a captcha plugin for my comment form?<br />
I&#8217;m using the same blog platform as yours and I&#8217;m having trouble finding one?<br />
Thanks a lot!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: poker online terbaru</title>
		<link>http://cschengdu.ca/?page_id=454#comment-182</link>
		<dc:creator><![CDATA[poker online terbaru]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 21:34:54 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-182</guid>
		<description><![CDATA[hello there and thank you for your information ? I have definitely picked up something new from right 
here. I did however expertise a few technical points using this 
web site, as I experienced to reload the website many times previous to I could get it to load properly.
I had been wondering if your hosting is OK? Not that I am complaining, but sluggish loading instances times will often affect your placement in google and could damage your high quality score if ads and marketing with Adwords.
Well I am adding this RSS to my e-mail and could 
look out for much more of your respective fascinating content.
Make sure you update this again very soon..]]></description>
		<content:encoded><![CDATA[<p>hello there and thank you for your information ? I have definitely picked up something new from right<br />
here. I did however expertise a few technical points using this<br />
web site, as I experienced to reload the website many times previous to I could get it to load properly.<br />
I had been wondering if your hosting is OK? Not that I am complaining, but sluggish loading instances times will often affect your placement in google and could damage your high quality score if ads and marketing with Adwords.<br />
Well I am adding this RSS to my e-mail and could<br />
look out for much more of your respective fascinating content.<br />
Make sure you update this again very soon..</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: hoki bandarq</title>
		<link>http://cschengdu.ca/?page_id=454#comment-181</link>
		<dc:creator><![CDATA[hoki bandarq]]></dc:creator>
		<pubDate>Mon, 04 Jun 2018 11:45:44 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-181</guid>
		<description><![CDATA[certainly like your website however you need to check the spelling on several of your posts.

Many of them are rife with spelling issues and I find it very troublesome to tell the 
reality however I will certainly come back again.]]></description>
		<content:encoded><![CDATA[<p>certainly like your website however you need to check the spelling on several of your posts.</p>
<p>Many of them are rife with spelling issues and I find it very troublesome to tell the<br />
reality however I will certainly come back again.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: cara hack domino 99 pulsa</title>
		<link>http://cschengdu.ca/?page_id=454#comment-178</link>
		<dc:creator><![CDATA[cara hack domino 99 pulsa]]></dc:creator>
		<pubDate>Sun, 03 Jun 2018 01:05:17 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-178</guid>
		<description><![CDATA[I would like to take the opportunity of thanking you for that professional assistance I have often enjoyed 
checking out your site. We&#039;re looking forward to the actual commencement of my college research 
and the overall groundwork would never have been complete 
without visiting your web site. If I might be of any assistance to others,
I&#039;d be happy to help by means of what I have learned from here.]]></description>
		<content:encoded><![CDATA[<p>I would like to take the opportunity of thanking you for that professional assistance I have often enjoyed<br />
checking out your site. We&#8217;re looking forward to the actual commencement of my college research<br />
and the overall groundwork would never have been complete<br />
without visiting your web site. If I might be of any assistance to others,<br />
I&#8217;d be happy to help by means of what I have learned from here.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: judi online tanpa deposit awal</title>
		<link>http://cschengdu.ca/?page_id=454#comment-176</link>
		<dc:creator><![CDATA[judi online tanpa deposit awal]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 15:06:45 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-176</guid>
		<description><![CDATA[It&#039;s enormous that you are getting thoughts from this paragraph as well as from our 
discussion made here.]]></description>
		<content:encoded><![CDATA[<p>It&#8217;s enormous that you are getting thoughts from this paragraph as well as from our<br />
discussion made here.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: cara menang main bandarq</title>
		<link>http://cschengdu.ca/?page_id=454#comment-174</link>
		<dc:creator><![CDATA[cara menang main bandarq]]></dc:creator>
		<pubDate>Fri, 01 Jun 2018 02:08:29 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-174</guid>
		<description><![CDATA[Great post, I conceive website owners should larn a lot 
from this weblog its rattling user pleasant. So much wonderful information on here 
:D.]]></description>
		<content:encoded><![CDATA[<p>Great post, I conceive website owners should larn a lot<br />
from this weblog its rattling user pleasant. So much wonderful information on here<br />
:D.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: bandar poker terpercaya di indonesia</title>
		<link>http://cschengdu.ca/?page_id=454#comment-172</link>
		<dc:creator><![CDATA[bandar poker terpercaya di indonesia]]></dc:creator>
		<pubDate>Thu, 31 May 2018 03:47:41 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-172</guid>
		<description><![CDATA[Wow, this article is good, my younger sister is analyzing such things, 
therefore I am going to tell her.]]></description>
		<content:encoded><![CDATA[<p>Wow, this article is good, my younger sister is analyzing such things,<br />
therefore I am going to tell her.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Betsychen</title>
		<link>http://cschengdu.ca/?page_id=454#comment-155</link>
		<dc:creator><![CDATA[Betsychen]]></dc:creator>
		<pubDate>Wed, 11 Nov 2015 18:41:57 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=454#comment-155</guid>
		<description><![CDATA[I am a Chinese Canadian who graduated from WCUU in 1994. I am so grateful that God has all those links to us and planted the seeds of Holy Spirit in west China hundred years ago. I am willing to contribute my time and other sources to CSC if any events occurred.]]></description>
		<content:encoded><![CDATA[<p>I am a Chinese Canadian who graduated from WCUU in 1994. I am so grateful that God has all those links to us and planted the seeds of Holy Spirit in west China hundred years ago. I am willing to contribute my time and other sources to CSC if any events occurred.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
