<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Photos</title>
	<atom:link href="http://cschengdu.ca/?feed=rss2&#038;page_id=135" rel="self" type="application/rss+xml" />
	<link>http://cschengdu.ca</link>
	<description>O Canadian School, we love you well !</description>
	<lastBuildDate>Mon, 11 Jun 2018 21:03:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.16</generator>
	<item>
		<title>By: robert luo</title>
		<link>http://cschengdu.ca/?page_id=135#comment-164</link>
		<dc:creator><![CDATA[robert luo]]></dc:creator>
		<pubDate>Mon, 29 Feb 2016 17:13:35 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=135#comment-164</guid>
		<description><![CDATA[Dear Sir,
I graduated from a medical school in Chengdu, China (formerly West China Union University, founded by 5 missionary societies, mostly from U of T) and also a PhD graduate from U of Toronto, Canada, now a scientist working in a hospital in Fargo, ND USA. I am writing a few non-commercial articles about the history of my medical school in China and especially the great contributions from U of Toronto.  Possibly, these articles may be published in China. I need to use a historic photos about WCUU campus in my articles from your web site &quot; Canadian school in China&quot;. I would appreciate it very much if you could allow me to do it in my writings with your kind copy right permission.
Thanks you very much.
http://cschengdu.ca/?page_id=135l  the color tower photo
My article title: Quakers in East: Architectures in West China Union University  
Robert Luo]]></description>
		<content:encoded><![CDATA[<p>Dear Sir,<br />
I graduated from a medical school in Chengdu, China (formerly West China Union University, founded by 5 missionary societies, mostly from U of T) and also a PhD graduate from U of Toronto, Canada, now a scientist working in a hospital in Fargo, ND USA. I am writing a few non-commercial articles about the history of my medical school in China and especially the great contributions from U of Toronto.  Possibly, these articles may be published in China. I need to use a historic photos about WCUU campus in my articles from your web site &#8221; Canadian school in China&#8221;. I would appreciate it very much if you could allow me to do it in my writings with your kind copy right permission.<br />
Thanks you very much.<br />
<a href="http://cschengdu.ca/?page_id=135l" rel="nofollow">http://cschengdu.ca/?page_id=135l</a>  the color tower photo<br />
My article title: Quakers in East: Architectures in West China Union University<br />
Robert Luo</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Yingming Zhang</title>
		<link>http://cschengdu.ca/?page_id=135#comment-159</link>
		<dc:creator><![CDATA[Yingming Zhang]]></dc:creator>
		<pubDate>Fri, 08 Jan 2016 13:00:26 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=135#comment-159</guid>
		<description><![CDATA[So sorry, too late for responding you.  No, DVDs/CDs can not posted to this website, because of the limit of the disk quota, which was donated by one of my Canadian friends.]]></description>
		<content:encoded><![CDATA[<p>So sorry, too late for responding you.  No, DVDs/CDs can not posted to this website, because of the limit of the disk quota, which was donated by one of my Canadian friends.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Charlotte Thomas</title>
		<link>http://cschengdu.ca/?page_id=135#comment-158</link>
		<dc:creator><![CDATA[Charlotte Thomas]]></dc:creator>
		<pubDate>Thu, 31 Dec 2015 20:48:09 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=135#comment-158</guid>
		<description><![CDATA[Is there a way to post DVDs/CDs to this website?  Such as the Chinese Feelings across the Pacific/Memories of the past/Old Photos of Chengdu from Canada?  So that people could see?]]></description>
		<content:encoded><![CDATA[<p>Is there a way to post DVDs/CDs to this website?  Such as the Chinese Feelings across the Pacific/Memories of the past/Old Photos of Chengdu from Canada?  So that people could see?</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Phyllis (Allen) Donaghy</title>
		<link>http://cschengdu.ca/?page_id=135#comment-135</link>
		<dc:creator><![CDATA[Phyllis (Allen) Donaghy]]></dc:creator>
		<pubDate>Tue, 04 Nov 2014 15:12:45 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=135#comment-135</guid>
		<description><![CDATA[Thank you for your kind words. It is very gratifying to know that the hard work done so many years ago by many people from Canada, the United States, Great Britain and other countries has borne fruit and produced so many well educated Chinese young men and women. That was the reason for building the university! Good luck in your medical career.]]></description>
		<content:encoded><![CDATA[<p>Thank you for your kind words. It is very gratifying to know that the hard work done so many years ago by many people from Canada, the United States, Great Britain and other countries has borne fruit and produced so many well educated Chinese young men and women. That was the reason for building the university! Good luck in your medical career.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: SunDong</title>
		<link>http://cschengdu.ca/?page_id=135#comment-132</link>
		<dc:creator><![CDATA[SunDong]]></dc:creator>
		<pubDate>Sun, 19 Oct 2014 16:35:49 +0000</pubDate>
		<guid isPermaLink="false">http://cschengdu.ca/?page_id=135#comment-132</guid>
		<description><![CDATA[I graduated from West China University of Medical Science in 1993, I love my mather university very much .And very appreciate  the founders of the University from the north
America.We are all very respect you  and never forget your contribution to Chinese]]></description>
		<content:encoded><![CDATA[<p>I graduated from West China University of Medical Science in 1993, I love my mather university very much .And very appreciate  the founders of the University from the north<br />
America.We are all very respect you  and never forget your contribution to Chinese</p>
]]></content:encoded>
	</item>
</channel>
</rss>
